.about-content {
    padding: 0.625rem;
    gap: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 25%;
}
.category {
    display: flex;
    flex-wrap: wrap;
    gap:0.25rem;
}
.category a {
    display: block;
    width: 100%;
    background-color: var(--button-color);
    border-left: var(--box-subcontent-border);
    padding-left: 0.25rem;
}
.media {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
}
.media img {
    width: 100%;
    max-width: 5rem;
    image-rendering: auto;
}
.category a:hover {
    background-color: var(--button-color-hover);
}
@media (max-width: 780px) {
    .about-content {
        display: flex;
        flex-wrap: wrap;
        margin: unset;
        padding: unset;
        gap: unset;
    }

    .sidebar-r {
        width: 100%;
        order: 1
    }

    .sidebar-m {
        order: 2;
        width: 100%;
    }
}