/* ROOT */
:root {
    --button-color: rgb(210, 210, 210);
    --button-color-hover: rgb(168, 168, 168);
    --wrap-color: rgba(208, 211, 211, 0.9);
    --marquee-color:rgb(146, 146, 146);
    --nav-color:rgb(255, 255, 255);
    --nav-color-hover:rgb(234, 234, 234);
    --box-content-color: rgb(249, 249, 250);
    --box-subcontent-color: rgb(210, 210, 210);
    --box-subcontent-border: 3px rgb(86, 86, 86) solid;
    --h1: rgb(209, 210, 210);
    --nav-color-bg: rgb(0, 0, 0);
    --dither-gradient: url("/img/Index/dither.png"),linear-gradient(90deg,rgba(69, 69, 69, 1) 27%, rgba(181, 181, 181, 1) 100%);
    --banner-bg: url(/img/Index/banner.jpg);
    --bg-image: url(/img/Index/BG.png);
    --bg-color:rgb(48, 48, 48);
    --font: "Saitamaar";
    --footer: rgb(63, 63, 63);
    --border-color: black;
    --comment-text: black;
}

/* FONTS  */
@font-face {
font-family: "04b03b";
src: url('/fonts/04B_03B_.TTF') format("truetype");
}

@font-face {
font-family: "Saitamaar";
src: url('/fonts/Saitamaar-Regular.ttf') format("truetype");
}

@font-face {
font-family: "04b31";
src: url('/fonts/04B_31__.TTF') format("truetype");
}

@font-face {
font-family: "04b11";
src: url('/fonts/04B_11__.TTF') format("truetype");
}

@font-face {
font-family: "OpenDyslexic";
src: url('/fonts/OpenDyslexic-Regular.otf') format("opentype");
}

/* FONTS END */

/* Main */
html {
    font-size: 1.2rem;
    cursor: url("/img/cursor/normal Select.png"), auto;
}
* {
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    background-image: var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
    background-blend-mode: screen;
    font-size: 1rem;
    line-height: 1.1;
    font-family: var(--font);
    
}
a {
    
    text-decoration: none;
    color: black;
    cursor: url("/img/cursor/link Select.png"), pointer;
}
p {
    margin: 0.3125rem;
}
img {
    filter: grayscale();
}
img:hover {
    filter: unset;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.1875rem;
}
select {
    font-family: unset;
    text-align: center;
    border: 1px var(--border-color) solid;
    background-color: var(--box-content-color);
}
option {
}
.textbox {
    border: 1px var(--border-color) solid ;
    word-wrap: break-word;
    width: 100%;
    padding: 0.25rem;
}

.textbox h1 {
    background-color: var(--h1);
    padding: 0.1875rem;
    width: 100%;
    font-size: 1rem;
}
/* Main End */

.wrap {
    background-color: var(--wrap-color);
    width: 100%;
    max-width: 64rem;
    margin: auto;
    border: 0.125rem var(--border-color) solid;
}

.top-bar {
    background:  var(--dither-gradient);
    background-blend-mode: multiply;
    background-size: 3.125rem, auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px var(--border-color) solid;
    padding: 0.1875rem;
}
.top-bar span {
    color: white;
}
.bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.1875rem;
}
.bottom-bar span {
    color: white;
}

.banner {
    min-height: 9.375rem;
    background-color: rgb(152, 152, 152);
    border-bottom: 1px var(--border-color) solid;
    background: var(--banner-bg);
    background-size: cover;
    background-position: center;
}

.nav {
    background-color: var(--nav-color-bg);
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-bottom: 1px var(--border-color) solid;
    gap: 0.0625rem;
}

.nav a {
    display: block;
    margin: auto;
    font-family: '04b31';
    font-size: 0.75rem;
    width: 100%;
    background-color: var(--nav-color);
    padding: 0.125rem 0.5rem;
    text-align: center;
}

.nav a:hover {
    background-color: var(--nav-color-hover);
}

/* Marquee */
.text-scroll {
    --gap: 1rem;
    border-bottom: 0.0625rem var(--border-color) solid;
    overflow: hidden;
    display: flex;
    gap: var(--gap);
    background-color: var(--marquee-color);
}           

.text-scroll-content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
  animation: scroll 90s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
/* Marquee end */

/* Box */
.box {
    margin-top: 0.625rem;
    border: 1px var(--border-color) solid;
    width: 100%;
}

.box-title {
    background: var(--dither-gradient);
    background-blend-mode: multiply;
    background-size: 3.125rem, auto;
    padding: 0.125rem 0.3125rem;
    border-bottom: 1px var(--border-color) solid;
    font-style: italic;
    font-size: 1rem;
    color: white;
    /* clip-path: polygon(0 0, 95% 0%, 100% 40%, 100% 100%, 0 100%); */
}

.box-title span {
    text-decoration: underline;
}

.box-content {
    padding: 0.5rem;
    background-color: var(--box-content-color)
}
/* Box end */

/* Pic */
.pic img {
    width: 100%;
    object-fit: cover;
}

/* Pic end */

.text-scroll-mobile {
    display: none;
}

/* Chatroom */
.chatroom {
    position:fixed;
    bottom: -20.625rem;
    left: 0.0625rem;
    z-index: 99999;
    transition:0.2s;
    filter: grayscale();
}

.chatroom:hover {
    bottom: 1.25rem;
    transition:0.2s;
}

.chatroom-content {
    width: 15.625rem;
    height: 21.875rem;
    background-color: rgb(115, 115, 115);
}

.chatroom-title {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.chatroom-title a{
    color:white;
}

.chatroom-responsive {
    padding: 0;
    filter: grayscale();
    height: 21.875rem;
}

.chatroom-responsive-show {
    display: none;
}
/* Chatroom */

.bottom-bar {
    background-color: var(--footer);
    border-top: var(--border-color) 1px solid;
}
@media (max-width: 1500px) {
    .chatroom {
        display: none;
    }
.chatroom-responsive-show {
    display: block;
}
}
@media (max-width: 780px) {
    body {
        margin: 0;
    }
    .wrap {
        max-width: 100%;
        border: 0;
        }
    .nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #linkNav{
        grid-column: span 3
    }
    .textbox {
        order:2;
    }
    .banner {
        min-height: 25vw;
    }
    .box {
        margin-top: 0rem;
    }
    .box-title {
        clip-path: unset;
    }
    .text-scroll {
        display: none;
    }
    .text-scroll-mobile {
        display: flex;
    }
}