.blog-content {
    padding: 0.625rem;
    gap: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 25%;
}
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.category a {
    display: block;
    width: 100%;
    background-color: var(--button-color);
    border-left: var(--box-subcontent-border);
    padding-left: 0.25rem;
}
.category a:hover {
    background-color: var(--button-color-hover);
}
.blog-post {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}
.blog-post h1 {
    background-color: var(--h1);
    padding: 0.1875rem;
    width: 100%;
    font-size: 1rem;
}
.blog-post a {
    text-decoration: underline;
    margin: 0 0.3125rem 0 0.3125rem;
}

.rss-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.rss {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--button-color);
    padding: 0.1875rem;
    align-items: center;
    gap: 0.25rem;
    border-left: var(--box-subcontent-border);
}

.rss:hover {
    background-color: var(--button-color-hover);
}

.rss img {
    width: 8%;
}
.archive-content {
    padding: 0.625rem;
    gap: 0.625rem;
}

.navigation {
    width: 100%;
    padding: 0.25rem;
    justify-content: center;
}

@media (max-width: 780px) {
    .blog-content {
        padding: unset;
        gap: unset;
    }
    .blog-content {
        display: flex;
        flex-wrap: wrap;
    }
    .sidebar-l {
        order: 1;
    }
    .sidebar-m {
        order: 2;
    }
}