.gallery-content {
    padding: 0.625rem;
    gap: 0.625rem;
    display: grid;
    grid-template-columns: 1fr 25%;
}
.artCategory-content {
    padding: 0.625rem;
    gap: 0.625rem;
}
.gallery img {
    width: 6.25rem;
    border: 1px solid;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: center;
}
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.category a {
    display: block;
    width: 100%;
    background-color: var(--button-color);
    border-left: var(--box-subcontent-border);
    padding-left: 0.25rem;
}

.category a:hover {
    background-color: var(--button-color-hover);
}
@media (max-width: 780px) {
    .blog-content {
        padding: unset;
        gap: unset;
    }

    .gallery-content {
        display: flex;
        flex-wrap: wrap;
        margin: unset;
        padding: unset;
        gap: unset;
    }

    .sidebar-r {
        width: 100%;
        order: 1
    }

    .sidebar-m {
        order: 2;
        width: 100%;
    }

    .box {
        margin: unset;
    }
}