.guest-content {
    padding: 0.25rem;
    gap: 0.25rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 780px) {
    .guest-content {
        display: flex;
        padding: unset;
    }
}