
.profile-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.profile-picture {
    border: 0.0625rem solid;
    width: 100%;
    
    height: 100%;
}
.profile-picture img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-me {
    border: 0.0625rem solid;
    width: 100%;
    text-align: center;
    padding: 0.0625rem;
    word-wrap: break-word;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3125rem;
    width: 100%; 
}

.socials a {
    background-color: var(--button-color);
    display: block;
    clip-path: polygon(0 0, 95% 0%, 100% 40%, 100% 100%, 0 100%);
}

.socials a:hover {
    background-color: var(--button-color-hover)
}

@media (max-width: 780px) {
    .profile-picture {
        order:1;
        width: 100%;
    }
    .about-me {
        grid-column: span 2 / span 2;
        order:3;
    }
    .socials {
        grid-column: span 2 / span 2;
        order:4
    }
    .profile-content {
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    }

}