---
title: Julicubed - About
layout: /base.njk
style: /css/about.css
partialsCSS:
- /css/_partials/profile.css
- /css/_partials/media.css
---
<div class="about-content">
    <div class="sidebar-m">
        <div class="box" style="margin:unset;">
            <div class="box-title">
                <span>ABOUT</span>
            </div>
            <div class="box-content">
                <div class="textbox">
                    <h1>ABOUT ME</h1>
                    <p>Hello, I'm Julian (Also known as Julicube or Jaxterstars) :)</p>
                    <p>I am a 21 year old college student currently studying 3D Art, Which has been quite fun! (I hate
                        3DS Max.) I also draw and mod games in my free time with a more recent love for coding this
                        website.</p>
                    <p>This site was made mainly for fun, but now I want it to be a place for me to host
                        my projects and thoughts on a platform that isn't on social media. <br> This site has gone
                        through 3 (including this one) revisions, with 3.0 coming only a month later after I released
                        the second revision.
                        I did this because I feel like my experience with HTML and CSS has elevated quite a lot, and I
                        found the old sites to be not super fun to mantain (I now use a Static site generator.)
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-title">
                <span>MEDIA I LIKE</span>
            </div>
            <div class="box-content">
                <div class="textbox media">
                    <h1>GAMES</h1>
                    <img alt="Tomodachi Life" src="/img/about/games/tomodachi.jpg">
                    <img alt="Taiko no Tatsujin" src="/img/about/games/taiko.jpg">
                    <img alt="Splatoon" src="/img/about/games/splatoon.jpg">
                    <img alt="The Sims 2" src="/img/about/games/sims2.jpg">
                    <img alt="Rhythm Heaven DS" src="/img/about/games/rhythm.jpg">
                    <img alt="Resident Evil 4" src="/img/about/games/re4.jpg">
                    <img alt="Persona 3 Portable" src="/img/about/games/p3p.jpg">
                    <img alt="Shin Megami Tensei Nocturne" src="/img/about/games/nocturne.jpg">
                    <img alt="The Legend of Zelda Majoras Mask" src="/img/about/games/majoras.jpg">
                    <img alt="Guilty Gear Strive" src="/img/about/games/ggst.jpg">
                    <img alt="Pokemon White 2" src="/img/about/games/bw2.jpg">
                    <img alt="Animal Crossing New Leaf" src="/img/about/games/acnl.jpg">
                    <img alt="Gitaroo man" src="/img/about/games/1667c8e20744369a6c10384e2051cefa.jpg">
                    <img alt="" src="/img/about/games/">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-r">

        {% include "../_partials/profile.njk" %}
        {% include "../_partials/media.njk" %}
        </div>

    </div>