---
title: Julicubed - Art
layout: /base.njk
style: /css/gallery.css
---
<div class="gallery-content">
    <div class="sidebar-m">
        <div class="box" style="margin:unset">
            <div class="box-title">
                <span>ART GALLERY</span>
            </div>
            <div class="box-content">
                <div class="gallery">
                    {% for post in collections.art | reverse %}
                    <a href="{{ post.url }}"><img src="/img/art/thumbnails/{{ post.data.thumbnail }}"
                            loading="lazy" /></a> {{
                    post.data.dateString }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-r">
        <div class="box" style="margin:unset">
            <div class="box-title">
                <span>NOTE</span>
            </div>
            <div class="box-content">
                <div class="textbox">
                    <h1>ART GALLERY</h1>
                    <p>This is my art gallery! I mostly do 3D renders, but sometimes I do 2D.</p>
                </div>
            </div>

        </div>

        <div class="box" >
            <div class="box-title">
                <span>TAGS</span>
            </div>
            <div class="box-content category">
                {% for cats in collections.artCategories reversed %}
                <a href="/art-categories/{{ cats | slugify }}/">{{ cats }}</a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>