---
title: Julicubed - Blog
layout: /base.njk
style: /css/blog.css
---

<div class="blog-content">
    <div class="sidebar-m">
        <div class="box" style="margin:unset">
            <div class="box-title">
                <span>RECENT BLOG</span>
            </div>
            <div class="box-content blog-post">
                {% for post in collections.post reversed limit:3 %}
                <h1>{{ post.data.title }} - {{ post.date | niceDate }}</h1>
                {% excerpt post %} <a href="{{post.url}}">read more</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="sidebar-r">
        <div class="box" style="margin:unset">
            <div class="box-title">
                <span>NOTE</span>
            </div>
            <div class="box-content">
                <div class="textbox">
                    <h1>BLOG</h1>
                    <p>This is the blog section. I will be posting about various topics here.</p>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-title">
                <span>ARCHIVE</span>
            </div>
            <div class="box-content category">
                <a href="/archive">Archive</a>
            </div>
        </div>
        <div class="box">
            <div class="box-title">
                <span>CATEGORIES</span>
            </div>
            <div class="box-content category">
                {% for cat in collections.categories reversed %}
                <a href="/categories/{{ cat | slugify }}/">{{ cat }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- RSS -->
        <section class="box rss-box">
            <div class="box-title">
                <span>RSS</span>
            </div>
            <div class="box-content rss-content">
                <a href="/updates.xml" class="rss">
                    <img src="/img/Index/rss.svg" alt="RSS">
                    <span>Site Updates</span>
                </a>
                <a href="/feed.xml" class="rss">
                    <img src="/img/Index/rss.svg" alt="RSS">
                    <span>Blog Posts</span>
                </a>
            </div>
        </section>

    </div>
</div>