---
title: Hello World!
layout: /base.njk
style: /css/index.css
---
<div class="index-content">
    <!-- Left Sidebar -->
    <div class="sidebar-l">
        <!-- profile -->
        <div class="box profile" style="margin-top: 0px;">
            <div class="box-title">
                <span>PROFILE</span>
            </div>
            <div class="box-content">
                <div class="profile-content">
                    <div class="profile-picture">
                        <img src="/img/Index/pfp.png">
                    </div>
                    <div class="about-me">
                        <span>Julian | 21 | Any Pronouns</span>
                    </div>
                    <div class="textbox">
                        <p>Hello there, my name is Julian. I'm from Scotland and made this site to have my own personal
                            space on the internet.</p>
                    </div>
                    <div class="socials">
                        <a href="">> Twitter</a>
                        <a href="">> Bluesky</a>
                        <a href="">> Tumblr</a>
                        <a href="">> Gamebanana</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- RSS -->
        <div class="box rss-box">
            <div class="box-title">
                <span>RSS</span>
            </div>
            <div class="box-content rss-content">
                <a href="" class="rss">
                    <img src="/img/Index/rss.svg">
                    <span>Site Updates</span>
                </a>
                <a href="" class="rss">
                    <img src="/img/Index/rss.svg">
                    <span>Blog Posts</span>
                </a>
            </div>
        </div>
        <!-- STATUS -->
        <div class="box status-box">
            <div class="box-title">
                <span>STATUS</span>
            </div>
            <div class="box-content">
                <div class="status-block">
                    <span>[18/6/26] Wrapping my head around RSS is hard..</span>
                    <span>[16/6/26] GRAHHHH THE SITES OUT</span>
                    <span>[13/6/26] working on the sites been so awesome and cool....</span>
                </div>
            </div>
        </div>
        <!-- Media Box -->
        <div class="box">
            <div class="box-title">
                <span>MEDIA</span>
            </div>
            <div class="box-content media">
                <div class="media-entry">
                    <span>Playing</span> <span>Yume Nikki</span>
                </div>
                <div class="media-entry">
                    <span>Watching</span> <span>Spiderman BND</span>
                </div>
                <div class="media-entry">
                    <span>Listening</span> <span>Paramore</span>
                </div>
                <div class="media-entry">
                    <span>Reading</span> <span>Nothing</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Middle Bar -->
    <div class="sidebar-m">
        <!-- Welcome Box -->
        <div class="box" style="margin: unset">
            <div class="box-title">
                <span>WELCOME</span>
            </div>
            <div class="box-content welcome-content">
                <div class="textbox welcome-box1">
                    <h1>WELCOME</h1>
                    <p>Hello and welcome to my site.</p>
                    <p>This is a place to primarily share my thoughts and feelings on various subjects and to also to
                        host my artwork.</p>
                </div>
                <div class="textbox welcome-box2">
                    <h1>CONTACT</h1>
                    <p>You can find my contact details in various places around this site such as the about page or the
                        socials I have listed on the left side of this page.</p>
                </div>
                <div class="textbox welcome-box3">
                    <h1>ROADMAP</h1>
                    <p>This site is far from complete, and I am currently finishing up the website overhaul.</p>
                    <p>I am planning on adding more acessibility features.</p>
                </div>
            </div>
        </div>
        <!-- Blog Box  -->
        <div class="box">
            <div class="box-title">
                <span>BLOG - LATEST</span>
            </div>
            <div class="box-content">
                <div class="blog-entry">
                {% for post in collections.post reversed limit:3 %}
                <a href="{{post.url}}">{{ post.data.title }} - {{ post.date | niceDate }}</h1>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Latest Review -->
        <div class="box">
            <div class="box-title">
                <span>ART - LATEST</span>
            </div>
            <div class="box-content art">
                <img src="/img/Index/latest-1.jpg">
                <img src="/img/Index/latest-2.jpg">
                <img src="/img/Index/latest-3.jpg">
                <img src="/img/Index/latest-4.jpg">
            </div>
        </div>
        <!-- Latest Review -->
        <div class="box">
            <div class="box-title">
                <span>REVIEW - LATEST </span>
            </div>
            <div class="box-content">
                <div class="review">
                    <img src="/img/Index/review.jpg">
                    <div class="textbox textbox-review">
                        <h1>SPLATOON RAIDERS</h1>
                        <p>Splatoon raiders, the first spinoff in the series has released. is it any good?</p>
                        <a href="">> Read</a>
                        <a href="https://www.youtube.com/watch?v=M2_RGzOPfgA" target="_blank">> Trailer</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Two split -->
        <div class="two-split">
            <!-- Pic of the day -->
            <div class="box">
                <div class="box-title">
                    <span>PIC OF THE DAY</span>
                </div>
                <div class="box-content pic">
                    <img src="/img/Index/pic-of-the-day.jpg" style="height: 150px;">
                </div>
            </div>
            <!-- Webrings -->
            <div class="box">
                <div class="box-title">
                    <span>WEBRINGS</span>
                </div>
                <div class="box-content webrings pic">
                    <img src="/img/Index/pic-of-the-day.jpg" style="height: 150px;">

                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <div class="sidebar-r">
        <!-- STATS -->
        <div class="box" style="margin: 0;">
            <div class="box-title">
                <span>STATS</span>
            </div>
            <div class="box-content">
                <ws-widget type="hc" iid="3487" class="stats"></ws-widget>
            </div>
        </div>
        <!-- Updates -->
        <div class="box">
            <div class="box-title">
                <span>UPDATES</span>
            </div>
            <div class="box-content">
                <div class="status-block">
                    {% for updates in collections.updates reversed%}
                    <span>[{{ updates.date | niceDate }}] {{ updates.templateContent | raw }}</span>
                    {% endfor %}
                </div>

            </div>
        </div>
        <!-- Button Box -->
        <div class="box">
            <div class="box-title">
                <span>BUTTON</span>
            </div>
            <div class="box-content">
                <div class="button">
                    <a href="">
                        <img src="/img/button.png">
                    </a>
                    <textarea style="resize: none; width: 100%;font-size: 10px;"
                        readonly="">&lt;a href="https://jaxterstars.neocities.org" target="_blank"&gt;&lt;img src="https://jaxterstarsneocities.org/img/button.png"&gt;&lt;/a&gt;</textarea>
                </div>
            </div>
        </div>
        <!-- Friends Box  -->
        <div class="box">
            <div class="box-title">
                <span>FRIENDS</span>
            </div>
            <div class="box-content friends">
                <a href="https://cleggs.neocities.org" class="button-icon" target="_blank"><img
                        src="/img/neighbors/cleggsbutton.gif"> <span>CLEGGS</span></a>
                <a href="" class="button-icon" target="_blank"><img src="/img/Index/button.png"> <span>????</span></a>
                <a href="" class="button-icon" target="_blank"><img src="/img/Index/button.png"> <span>????</span></a>
            </div>
        </div>
        <!-- Featured Game -->
        <div class="box">
            <div class="box-title">
                <span>FEATURED GAME</span>
            </div>
            <div class="box-content pic">
                <a href="https://store.steampowered.com/app/650700/Yume_Nikki/" target="_blank">
                    <img src="/img/Index/featured-game.jpg" style="height: 300px;">
                </a>
            </div>
        </div>
    </div>

</div>