
        <!-- Media Box -->
        <div class="box">
            <div class="box-title">
                <span>MEDIA</span>
            </div>
            <div class="box-content media">
                <div class="media-entry">
                    <span>Playing</span> <span>Yume Nikki</span>
                </div>
                <div class="media-entry">
                    <span>Watching</span> <span>Spiderman BND</span>
                </div>
                <div class="media-entry">
                    <span>Listening</span> <span>Paramore</span>
                </div>
                <div class="media-entry">
                    <span>Reading</span> <span>Nothing</span>
                </div>
            </div>
        </div>