
        <!-- profile -->
        <div class="box profile" style="margin-top: 0px;">
            <div class="box-title">
                <span>PROFILE</span>
            </div>
            <div class="box-content">
                <div class="profile-content">
                    <div class="profile-picture">
                        <img src="/img/Index/pfp.png" alt="Profile picture">
                    </div>
                    <div class="about-me">
                        <span>Julian / 21 / Any Pronouns</span>
                    </div>
                    <div class="textbox">
                        <p>Hello there, my name is Julian. I'm from Scotland and made this site to have my own personal
                            space on the internet.</p>
                    </div>
                    <div class="socials">
                        <a href="https://x.com/SBLAST91" target="_blank">> Twitter</a>
                        <a href="https://bsky.app/profile/sblast91.bsky.social" target="_blank">> Bluesky</a>
                        <a href="https://www.tumblr.com/crackpot" target="_blank">> Tumblr</a>
                        <a href="https://ko-fi.com/julicubed" target="_blank">> Kofi</a>
                    </div>
                </div>
            </div>
        </div>